*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}
body
{
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    background: rgb(0, 5, 0);
    align-items: center;
    justify-content: center;
}
.containerprim{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    user-select: none;
}
h2{
    position: relative;
    font-size: 6rem;
    letter-spacing: 15px;
    color: rgb(17, 148, 5);
    text-transform: uppercase;
    width: 100%;
    text-align: 100%;
    -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(1, 54, 9, 0.151));
    line-height: 0.70 em;
    outline: none;
    animation: animate 5s linear infinite;
}

/*///////////magazin////////*/
.product{
    display: flex;
    width: 400px ;
    height: 400px;
    margin: 0, auto;
    position: relative;
    margin-top: 20vh;
    margin-left: 20vh;
transform: rotate(-30deg) skew(25deg) translate(0,0);
transition: 0.5s;
}
.product img{
    position: absolute;
    width: 100%;
    transition: 0.5s;
}
.product:hover img:nth-child(4){
    transform: translate(160px, -160px);
    opacity: 1;
}
.product:hover img:nth-child(3){
    transform: translate(120px, -120px);
    opacity: 0.8;
}
.product:hover img:nth-child(2){
    transform: translate(80px, -80px);
    opacity: 0.6;
}
.product:hover img:nth-child(1){
    transform: translate(40px, -40px);
    opacity: 0.4;
}
.card h2{
    font-size: 3.5rem;
    margin-bottom: 2rem;
}
nav ul li{
    list-style: none;
    margin: 35px 0;

}
nav ul li a{
    text-decoration: none;
    font-size: 40px;
    color: #fff;
    padding: 10px;
    letter-spacing: 5px;
    position: relative;

}
nav ul li a::after{
    content: '';
    height: 3px;
    width: 0%;
    background: rgb(3, 255, 16);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
nav{
    position:absolute;
    width: 100%;
    height: 100vh;
    background: rgb(0, 0, 0);
    z-index: 2;
    top: -100vh;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition:all 0.1s ease;
}
.lite-text{
    color: rgb(21, 114, 3);
    font-size: 140px;
    letter-spacing: 40px;
    opacity: 0.1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-weight: 800;
    z-index: -1;
    animation: animate 5s linear infinite;
}
.close-icon{
    width: 5em;
    position: absolute;
    right: .8em;
    top: .5em;
    cursor: pointer;
}
.menu-icon{
    width: 5em;
    position: absolute;
    right: .8em;
    top: .5em;
    cursor: pointer;

}
@keyframes animate
{
    0%,18%,20%,50%,60%,65.1%,80%,90.1%,92%,18%,20%,50%,60%,65.1%,80%,90.1%,92%
    {
        color: rgb(21, 114, 3);
        text-shadow: none;
    }
    18.1%,20.1%,50.1%,60.1%,65.5%,80.1%,90.3%,92.1%,100%
    {
        color: white;
        text-shadow: 0 0 10px rgb(11, 212, 4),
        0 0 20px rgb(3, 255, 16),
        0 0 40px rgb(3, 250, 44),
        0 0 80px rgb(5, 235, 24),
        0 0 160px rgb(1, 233, 1);
    }
}
@media(max-width: 700px) {
    .menu-icon {
        width: 7em;
    }
    .close-icon {
        width: 7em;
    }
    .card {
        display: block;
    }
    .lite-text{
        font-size: 70px;
        letter-spacing: 20px;
    }
}
